@{
    Layout = "_Layout";
}

@section title {
    <h1>Welcome to SA Online Mart</h1>
}

<div class="hero" style="background-image: url('/images/flower.jpg');">

    <div class="hero-text">
        <h1>Your One-Stop Online Shop</h1>
        <p>Find the best deals on all your favorite products</p>
        <a href="/shop/index" class="btn btn-primary">Shop Now</a>
    </div>
</div>

<h3>This is our new home!</h3>

<div class="categories-container">
    <div class="category">
        <h3>Jewellery</h3>
        <a href="/shop/index?category=jewellery">
            <img src="/images/jewellery.jpg" alt="Jewellery">
        </a>
    </div>
    <div class="category">
        <h3>Clothing</h3>
        <a href="/shop/index?category=clothing">
            <img src="/images/clothing.jpg" alt="Clothing">
        </a>
    </div>
    <div class="category">
        <h3>Art & Craft</h3>
        <a href="/shop/index?category=art_craft">
            <img src="/images/Art & Craft.jpg" alt="Art & Craft">
        </a>
    </div>
    <div class="category">
        <h3>Stationaryy</h3>
        <a href="/shop/index?category=stationery">
            <img src="/images/stationary.jpg" alt="Stationery">
        </a>
    </div>
    <div class="category">
        <h3>Homeware</h3>
        <a href="/shop/index?category=homeware">
            <img src="/images/homeware.jpg" alt="Homeware">  
        </a>
    </div>
    <div class="category">
        <h3>Gifts</h3>
        <a href="/shop/index?category=gifts">
            <img src="/images/gifts.jpg" alt="Gifts">
        </a>
    </div>
</div>
